In [1]:
import dbhelper as db
import pandas as pd

In [2]:
#db.showCitiesRAW()
query = "SELECT zeigeinvisu, cityname FROM Cities WHERE ctyid = {};".format(7)
db.execComFK(query)[0]
#db.ShowInVisuSwitch(39)
#db.addCity("Vilnius",54.683846,25.271075,'True')
#db.deleteCityById(82)

query = "SELECT zeigeinvisu, cityname, ctyid FROM Cities WHERE cityname = 'Vilnius';"
cts = db.execComFK(query)
a = [print(i) for i in cts]

('True', 'Vilnius', 61)

In [3]:
#db.showCitiesRAW()
#db.execComFK("CREATE TABLE tt (id INTEGER PRIMARY KEY, cityname TEXT NOT NULL)")
#db.execComFK("drop table tt;")
db.execComFK("SELECT name FROM sqlite_master WHERE type ='table' AND name NOT LIKE 'sqlite_%';")
a = [print("{}\n".format(i[0])) for i in db.execComFK("SELECT sql FROM sqlite_master")] #, type type, tbl_name tbl_name, name name FROM sqlite_master")]

CREATE TABLE conditioncode (
    condid INTEGER PRIMARY KEY,
    condition TEXT,
    descr TEXT
)

CREATE TABLE Himmelsrichtung (
    richtungsid INTEGER PRIMARY KEY,
    bezeichnerkurz TEXT,
    bezeichnerlang TEXT
)

CREATE TABLE databasesettings (key TEXT NOT NULL, value INTEGER NOT NULL)

CREATE TABLE log
(
    Timestamp TEXT,
    Level TEXT,
    Message TEXT
)

CREATE TABLE Laendercodes (
    id INTEGER PRIMARY KEY,
    Land TEXT NOT NULL,
    ISO3166_alpha2 TEXT NOT NULL,
    ISO3166_alpha3  TEXT,
    ISO3166_numerisch  TEXT NOT NULL,
    IOC  TEXT,
    Fips10 TEXT,
    Kfz_Kennzeichen TEXT,
    Domain TEXT
)

CREATE TABLE Wetter (
    wetterid INTEGER PRIMARY KEY,
    country TEXT,
    city TEXT NOT NULL,
    timestampUNX INTEGER NOT NULL,
    sunrise INTEGER,
    sunset INTEGER,
    descrid INTEGER,
    temperature REAL,
    temperaturemin REAL,
    temperaturemax REAL,
    temperaturegefuehlt REAL,
    humidity INTEGER,
    pressure INTEGER,
    windspeed REAL,
    winddeg INTEGER,
    windgust REAL,
    cloudiness INTEGER,
    rain1h REAL,
    snow1h REAL,
    snow3h REAL,
    timezone INTEGER,
    ctyid INTEGER,
    FOREIGN KEY (ctyid) REFERENCES Cities (ctyid) ON DELETE CASCADE,
    FOREIGN KEY (descrid) REFERENCES conditioncode (condid) ON DELETE SET NULL
)

CREATE TABLE Cities (
    ctyid INTEGER PRIMARY KEY,
    cityname TEXT NOT NULL,
    lat REAL NOT NULL,
    lon REAL NOT NULL,
    zeigeinvisu TEXT NOT NULL,
    firstadded INTEGER,
    request TEXT,
    active INTEGER NOT NULL,
    countrylinkage INTEGER,
    FOREIGN KEY (countrylinkage) REFERENCES Laendercodes (id) ON DELETE SET NULL
)

CREATE TABLE WetterActual (
    country TEXT,
    city TEXT,
    descrid INTEGER,
    temperature REAL,
    temperaturegefuehlt REAL,
    humidity INTEGER,
    winddirection INTEGER,
    windspeed INTEGER,
    timestmp TEXT,
    timezone INT,
    sunrise TEXT,
    sunset TEXT,
    ctyid INTEGER,
    FOREIGN KEY (ctyid) REFERENCES Cities (ctyid) ON DELETE CASCADE
)

[None, None, None, None, None, None, None, None]

In [ ]:
db.getCitiesDataFrame()