In [1]:
import pandas as pd
import sqlite3
from dbhelper import getTableSelect
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
city = 'Michendorf'
# Michendorf
# Vuollerim (SE) - Edefors
# Grundtjärn

query = """SELECT c.cityname as city,MIN(w.temperature) minimum, MAX(w.temperature) maximum FROM Cities c
INNER JOIN 
(SELECT timestampUNX+timezone*3600 as ts, temperature, ctyid  FROM Wetter) w
ON w.ctyid = c.ctyid
GROUP BY c.ctyid
Order by MAX(w.temperature)"""
print('Starte db-Abfrage...')
data = pd.read_sql_query(query,sqlite3.connect('wetter.db'))

print(data)
print()

Starte db-Abfrage...
                       city  minimum  maximum
0                 Reykjavik   -10.84    19.86
1                  Svolvaer     7.44    21.10
2                    Myrdal   -22.27    24.39
3                    Bergen    -9.63    25.83
4                St. John's     6.24    26.43
..                      ...      ...      ...
71                  Seattle    -4.04    41.67
72   Quillayute Airport-UIL     1.02    42.02
73    Alice Springs Airport    -2.01    43.58
74  Isabella Landing, Idaho   -24.00    43.91
75                 Portland    -5.19    45.60

[76 rows x 3 columns]

In [ ]:
plt.figure()
plt.plot(data["city"],data["minimum"],'.')
plt.plot(data["city"],data["maximum"],'.')
plt.grid()
plt.show()

In [31]:

query = "SELECT cityname as label, ctyid as value FROM Cities WHERE active = 1"
data = pd.read_sql_query(query,sqlite3.connect('wetter.db'))
data['dict'] = data.apply( lambda x: { 'label': x['label'] , 'value': x['value'] }, axis = 1)
arr = [b[2] for a,b in data.iterrows()]
print(arr)
print(type(arr))
print(type(arr[0]))

[{'label': 'Schöneberg', 'value': 1}, {'label': 'Nordborg', 'value': 2}, {'label': 'Oslo', 'value': 3}, {'label': 'Antwerpen', 'value': 4}, {'label': 'Stockholm', 'value': 5}, {'label': 'Wyk auf Föhr', 'value': 6}, {'label': 'Sonderburg', 'value': 7}, {'label': 'Seattle', 'value': 8}, {'label': 'Basslake', 'value': 9}, {'label': 'Bad Belzig', 'value': 10}, {'label': 'Lutherstadt Wittenberg', 'value': 11}, {'label': 'Boek', 'value': 12}, {'label': 'Ostrov / Eiland', 'value': 13}, {'label': 'Burlington', 'value': 14}, {'label': 'Tupper Lake', 'value': 15}, {'label': 'Toronto', 'value': 16}, {'label': 'Oyten', 'value': 17}, {'label': 'Hamburg', 'value': 18}, {'label': 'Bijela', 'value': 19}, {'label': 'Nizza', 'value': 20}, {'label': 'Dover', 'value': 21}, {'label': 'Palau', 'value': 22}, {'label': 'Brest', 'value': 23}, {'label': 'Nyborg', 'value': 24}, {'label': 'Tromsö', 'value': 25}, {'label': 'Umea', 'value': 26}, {'label': 'Reykjavik', 'value': 27}, {'label': 'Portland', 'value': 28}, {'label': 'Plymouth', 'value': 29}, {'label': 'Michendorf', 'value': 30}, {'label': 'Brandenburg a.d. Havel', 'value': 31}, {'label': 'Moscow', 'value': 32}, {'label': 'Eagle, Colorado', 'value': 33}, {'label': 'Naples, FL', 'value': 34}, {'label': 'Houston, Texas', 'value': 35}, {'label': 'Dallas, Texas', 'value': 36}, {'label': 'Tulsa, Oklahoma', 'value': 37}, {'label': 'Isabella Landing, Idaho', 'value': 38}, {'label': 'Aitape', 'value': 39}, {'label': 'Wewak', 'value': 40}, {'label': 'Goroka', 'value': 41}, {'label': 'Wallis und Futuna', 'value': 42}, {'label': 'Papeete, Frz. Poly.', 'value': 43}, {'label': 'Auckland', 'value': 44}, {'label': 'Queenstown', 'value': 45}, {'label': 'Rotorua', 'value': 46}, {'label': 'Alice Springs Airport', 'value': 47}, {'label': 'Patong Beach', 'value': 48}, {'label': 'Almaty Airport', 'value': 49}, {'label': 'Anchorage Airport', 'value': 50}, {'label': 'Victoria Airport, Seychellen', 'value': 51}, {'label': 'Flam', 'value': 52}, {'label': 'Voss', 'value': 53}, {'label': 'Myrdal', 'value': 54}, {'label': 'Al', 'value': 55}, {'label': 'Bergen', 'value': 56}, {'label': 'Helsinki', 'value': 58}, {'label': 'Vuollerim', 'value': 59}, {'label': 'Tallinn', 'value': 60}, {'label': 'Vilnius', 'value': 61}, {'label': 'Grundtjärn', 'value': 62}, {'label': 'Inari', 'value': 63}, {'label': 'Beelitz', 'value': 64}, {'label': 'Kamionki Eulengebirge', 'value': 66}, {'label': 'Leipzig', 'value': 67}, {'label': 'München Aubing', 'value': 68}, {'label': 'Prien am Chiemsee', 'value': 69}, {'label': 'Augusta Portland', 'value': 70}, {'label': 'Quillayute Airport-UIL', 'value': 71}, {'label': 'Lübbenau, Spreewald', 'value': 72}, {'label': 'Tokyo', 'value': 73}, {'label': 'Semboku', 'value': 74}, {'label': 'Svolvaer', 'value': 75}, {'label': "St. John's", 'value': 76}, {'label': 'Kasan', 'value': 77}, {'label': 'Mariehamn', 'value': 78}, {'label': 'Kolympia, Rhodos', 'value': 79}, {'label': 'Kavala', 'value': 80}, {'label': 'Riga', 'value': 81}, {'label': 'Longyearbyen', 'value': 82}]
<class 'list'>
<class 'dict'>

In [33]:
a,b = [5,6]
print(a)
print(b)

5
6